{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <h1>Liste des produits</h1>
    <table class="table">
        <tr>
            <th>Reference</th>
            <th>Nom</th>
            <th>Description</th>
            <th>EAN</th>
            <th>Actions</th>
        </tr>
        {% for  prod in produit %}
            <tr>
                <td>{{ prod.Reference }}</td>
                <td>{{ prod.Nom }}</td>
                <td>{{ prod.Description }}</td>
                <td>{{ prod.EAN }}</td>
                <td>
                    <a href="{{ path("produit_modifier",{ "id":prod.id }) }}" class="btn btn-primary"><i class="far fa-edit"></i></a>
                    <a href="{{ path("produit_supprimer",{ "id":prod.id }) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>

            </tr>
        {% endfor %}
    </table>
    <a href="{{ path("produit_ajouter") }}" class="btn btn-success">Retour au form</a>

{% endblock %}
